<!DOCTYPE html>
<html>
<head>
    <title>Marketplace | Add product</title>
    <!-- Include Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <!-- Header Section -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                
                <img width="80px" src="{% static 'img/logo.jpg' %}" alt="">
            </a>
        </nav>
    </header>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

</body>
</html>
