{% extends "base.html" %}
{% load static %} 


{% block content %}
    <h1> Products</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">

    {% for product in products %}
        <div class="col">
        <div class="card" style="width: 18rem;">
            {% if product.image %}
            <img src="{{ product.image }}" class="card-img-top" alt="...">
            {% else %}
            <img src="{% static 'img/place_holder.svg' %}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">Rs. {{product.price}}</p>
            </div>
        </div>
        </div>

    {% endfor %}
        </div>



    
{% endblock content %}
